<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated-content ion-text-center">
  <ion-card class="login-card">
    <ion-card-content>
      <ion-label>
        <h1 class="login-title">Iniciar sesión</h1>
      </ion-label>
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="email" [(ngModel)]="loginUser.email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input type="password" [(ngModel)]="loginUser.password" required></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="loginErrorMessage">{{ loginErrorMessage }}</div>
      <ion-button expand="full" class="login-button" (click)="login()">Iniciar sesión</ion-button>
      <div class="register-link">
        ¿No tienes una cuenta? <a class="register-link-text" (click)="goToRegisterPage()">Regístrate</a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>