<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrito de compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated-content">
  <div class="cart-container">
    <div class="cart-content">
      <div class="cart-header">
        <div>
          <p class="cart-title">Aquí está tu carrito de compras</p>
          <p class="cart-total">Total a pagar: ${{ cartService.totalValue | number:'1.0-0'}}</p>
        </div>
      </div>
      <ion-list class="cart-list" *ngIf="cartItems.length > 0">
        <ion-item *ngFor="let item of cartItems" class="cart-item">
          <ion-thumbnail slot="start">
            <img [src]="item.imagen" alt="Imagen del producto" class="cart-thumbnail">
          </ion-thumbnail>
          <ion-label class="cart-label">
            <h2 class="cart-title">{{ item.nombre }}</h2>
            <p class="cart-price">Valor: {{ item.precio }}</p>
          </ion-label>
          <ion-button class="cart-remove-button" (click)="removeFromCart(item)">
            <ion-icon name="trash-outline"></ion-icon>
            Eliminar
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-button expand="full" (click)="irACompletarPedido()">Completar Pedido</ion-button>
    </div>
  </div>
</ion-content>