<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
        <div id="titulo">
            <p>Yu-Gi-Oh!</p>
          </div>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <img src="assets/img/Yu-Gi-Oh! Cyberstorm Access Booster Box.jpg">
  <ion-card-content>
    <ion-card-header>
      <ion-card-title>Yu-Gi-Oh! Cyberstorm Access Booster Box Inglés</ion-card-title>
    </ion-card-header>
      El lote de expansión Acceso Cibertormenta contiene 100 cartas nuevas:
      50 Cartas Comunes, 26 Cartas Súper Raras, 14 Cartas Ultra Raras, 10 Cartas Raras Secretas.
      <p class="valor">Valor: $94.990</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/img/Speed Duel GX Duelists of Shadows.jpeg">
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Speed Duel GX: Duelists of Shadows Español</ion-card-title>
      </ion-card-header>
      Cada Speed Duel GX: Duelistas de las Sombras contiene un total de 228 cartas, todas aptas para Speed Duel:
      200 Cartas Comunes, 20 Cartas de Habilidad, 8 (de 24) cartas Secretas Raras 3 de las 8 Raras Secretas en cada caja serán 3 Bestias Sagradas: Uria, Señor de las Llamas Abrasadoras; Hamon, Señor del Trueno Golpeador y Raviel, Señor de Fantasmas.
      <p class="valor">Valor: $29.990</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/img/Structure Deck Beware of Traptrix ESPAÑOL.jpg">
      <ion-card-content>
        <ion-card-header>
          <ion-card-title>Structure Deck: Beware of Traptrix Español</ion-card-title>
        </ion-card-header>
        La nueva Baraja de Estructura: Cuidado con la Atrapadora también te da otra oportunidad de conseguir Cartas Trampa emblemáticas y muchas cartas “Agujero Trampa”. Atrae a tus adversarios a un bonito festín, donde regresar no es una opción.
          <p class="valor">Valor: $12.990</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img src="assets/img/Magnificent Mavens.jpg">
        <ion-card-content>
          <ion-card-header>
            <ion-card-title>Magnificent Mavens Inglés</ion-card-title>
          </ion-card-header>
          Cada caja de Expertas Magníficas contiene:
          1 paquete de 70 fundas de cartas (1 de 6 nuevos diseños de funda para Caza del Cielo, Mayakashis o Artibrujas)
          4 sobres con 5 cartas Ultra Raras por sobre.
            <p class="valor">Valor: $26.990</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <img src="assets/img/Mega Tin 2022 of the Pharaoh’s Gods.jpg">
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>Mega Tin 2022 of the Pharaoh’s Gods Español</ion-card-title>
            </ion-card-header>
            Cada 2022 Lata de los Dioses del Faraón contiene 3 Mega Packs extra grandes, cada uno con 1 Rara Secreta Prismática, 2 Ultra Raras, 2 Súper Raras, 1 Rara y 12 Comunes de un enorme mega paquete.
            Cada lata contiene en total:
            3 Cartas Raras Secretas Prismáticas, 6 Cartas Ultra Raras, 6 Cartas Súper Raras, 3 Cartas Raras y 36 Cartas Comunes.
            <p class="valor">Valor: $23.990</p>
            </ion-card-content>
          </ion-card>
</ion-content>